@media(max-width:1200px) {
	.under-top-bar{clear: both;position: static;transform: none;-moz-transform: none;-webkit-transform: none;-o-transform: none;-ms-transform: none;}
	.header-container-fixed, .cms-index-index .header-container-fixed, .catalog-category-view .header-container-fixed, .catalog-product-view .header-content .header-container-fixed{position: static;animation-duration: none;animation-fill-mode: none;animation-name: none;box-shadow: none;animation-duration: inherit;}
	.cms-index-index .header-content, .catalog-category-view .header-content, .catalogsearch-result-index .header-content{position: static;}
	.header-logo{position: relative;}
	.under-top-bar .custom-menu .magicmenu{margin: 0;}
	.tool-account.alo-toggle .toggle-tab.mobile{display: inline-block !important;}
	.block.block-subscribe{margin: 0;}
	.catalog-category-view .category-view-position, .catalogsearch-result-index .category-view-position {top: 50%;}
	.catalog-category-view .col-left{padding-right: 15px;}
	.products-list li.item{width: 100%;}
	.products-list li.item:nth-child(2n+1){clear: inherit;}
	/* sidebar Product Page */
	.product-secondary-column.custom-detail-right{margin-bottom: 90px;}
	.custom-detail-right .display-resolutions{width: 70%;float: left;}
	.custom-detail-right .sidebar{width: 30%;float: left;}
	.alo-newletter{margin-top: 30px;}
}
/* 992px <= width < 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
	.custom-menu .magicmenu{text-align: center;}
	.tool-setting{margin: 5px 10px 0 0;padding: 0 10px 0 0;}
	.magicslider .bx-wrapper img{width: 100%;}
	.vmagicmenu{width: 230px;}
	.vmagicmenu .level0 .level-top{margin: 0 10px;}
	.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children,
	.vmagicmenu .level0 .level-top-mega .mage-column .children{width:185px;}
	.vmagicmenu .vmagicmenu-narrow > li:nth-child(n+8) {display: none;}
	.magicmenu .nav-desktop .level0.home{margin:0;}
	.magicmenu .level0 .level-top img{ padding-right: 10px;}
	/* Banner */
	.banner-boder-zoom a img {max-width: 100%;}
	.catalog-category-view .breadcrumbs, .catalogsearch-result-index .breadcrumbs{min-height: 230px;}
	.breadcrumbs .title-page{font-size: 30px;}
	.contacts-index-index .breadcrumbs, .cms-page-view .breadcrumbs{min-height: 260px;}
	/* Policy / service */
	.block.block-subscribe{margin: 0;}
	/* Product Item*/
	.link-quickview{width: 50px;height: 50px;line-height: 50px;}
	.link-quickview .icons {font-size: 25px;}
	.item .hover-box{left: 10px;right: 10px;}
	.toolbar-amount p strong, .toolbar-amount .amount,.sorter .view-mode label, .sorter .limiter label, .sorter .sort-by label{font-size: 13px;}
	.product-view .product-primary-column, .block-related, .box-up-sell{width: 970px;}
	.product-view .product-qty{margin: 0 0 30px 0;}
	.product-view .add-to-cart button.button{min-width: 100%;}
	.heading .title{font-size: 30px;}
	.box-title{padding: 0 0 6px 10px;}
	.box-top .sub-title{font-size: 18px;}
	.section-sub-text{font-size: 13px;}
	.subtitle, .sub-title{font-size: 14px;padding:18px 0 0;}
	.company-worker .item .img{width: 170px;height: 170px;line-height: 170px;}
	.company-worker .item .hr span.first{padding-top: 45px;}
	.products-list .actions-list .button.btn-cart span span.view-cart{font-size: 14px;}
	.footer .collapsible .form-subscribe-header p,.logo-text{font-size: 15px;}
	#narrow-by-list dd .configurable-swatch-list li, #narrow-by-list dd ol.configurable-swatch-list li{width: 100%;}
	.block-layered-nav .block-content li a span,.block-layered-nav .block-content li a{font-size: 13px;}
}	

@media(max-width:991px) {
	/* Slide main */
	.slide-vertiacal .vertical-align-left,#header-offer,.anav-container,.mean-container .mean-nav .mobi-title,.under-top-bar,.alo-toggle.tool-menu .toggle-tab{display: none !important;}
	.header-content {padding: 20px 0;}
	.top-mobile{float: none;display: inline-block;clear: both;}
	.header .top-form-language .language-switcher, .header .header-setting .dropdown-switcher{z-index: 95;}
	.header .alo-social-links {padding: 6px 0 0 15px;}
	.tool-header {display: inline-block;float: none;}
	.header-logo{position: relative;}
	.content-logo{margin: 15px 0;padding: 0;z-index: 92;}
	.header .logo{margin: 0px;max-width: 300px;}
	.header .logo img{margin: 0;}
	.header-logo.mean-container a.meanmenu-reveal{width: 35px;display: inline-block;position: absolute;line-height: normal;padding: 0px;vertical-align: middle;top: 50%;right: 0 !important;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
	.mean-container .mean-nav > ul{z-index: 92;margin: 0;margin: 15px 0 0;}
	.miniCartWrap .mini-maincart{z-index: inherit;}
	.policy .policy-box{width: 100%;margin: 0 0 20px;padding: 0;}
	.policy.complete-static-policy .policy-box .box-content{border: 0;}
	.policy .policy-wrap{margin: 0;}
	.banner-boder-zoom .position h3{font-size: 19px;line-height: 49px;width: 190px;}
	 /* Megashop, Magicproduct, Magiccategory */
	.magiccategory .box-product .product-items .sub-item:nth-child(1), .magiccategory .box-product .product-items .sub-item:nth-child(3),.magiccategory .box-product .product-items .sub-item:nth-child(2){width: 100%;display: block;}
	.magiccategory .box-product .product-items .sub-item:nth-child(1) .items, .magiccategory .box-product .product-items .sub-item:nth-child(3) .items{float: left;width: 50%;}
	.magiccategory .box-product .product-items .sub-item:nth-child(2) .items, .magiccategory .box-product .product-items .sub-item:nth-child(1) .items:last-child{margin-bottom: 46px;}
	.magiccategory .box-product .product-items .sub-item:nth-child(3) .items:first-child{margin-bottom: 0;}
	.link-quickview{width: 50px;height: 50px;line-height: 50px;}
	.link-quickview .icons {font-size: 25px;}
	.item .hover-box{left: 10px;right: 10px;}
	.block-title-tabs h3,.alo-brand .title span{font-size: 30px;}
	.magictabs .item .title, .magictabs .citem a span{margin: 0 10px;}
	.magicslider .bx-wrapper{margin-bottom: 0;}
	.catalog-category-view .breadcrumbs, .catalogsearch-result-index .breadcrumbs{min-height: 165px;}
	.breadcrumbs .title-page{font-size: 30px;line-height: 1;}
	.toolbar{text-align: center;}
	.toolbar .pager.toolbar-amount,.sorter .view-mode {display: block;float: none;}
	.sorter .sort-by, .sorter .limiter,.pager .amount,.pager{float: none;}
	.sorter .view-mode strong, .sorter .view-mode a,.sorter .view-mode label, .sorter .limiter label, .sorter .sort-by label{float: none;display: inline-block;vertical-align: middle;}
	.block .block-title strong span,.sidebar .magictabs .item .title, .sidebar .magictabs .item.active .title{font-size: 20px;}
	.block-layered-nav .block-content li a,.block-layered-nav .block-content li span.count{font-size: 13px;}
	.col-left, .col-right, .col-main, .col1-layout .col-left, .col1-layout .col-right, .col1-layout .col-main, .col2-left-layout .col-left, .col2-left-layout .col-right, .col2-left-layout .col-main, .col2-right-layout .col-left, .col2-right-layout .col-right, .col2-right-layout .col-main, .col3-layout .col-wrapper .col-left, .col3-layout .col-right, .col3-layout .col-wrapper .col-main{float: none;width: auto;}
	/* ============================================ *
	 * Layered Navigation
	 * ============================================ */
	.cms-page-view .breadcrumbs{margin-bottom: 75px;}
	.block.block-layered-nav{margin-bottom: 20px;}
	.block-layered-nav--no-filters .block-title,.no-display {display: none;}
	.block-layered-nav .block-content .block-subtitle,.category-title{display: inline-block;}
	.block-layered-nav .block-content{padding: 0;text-align: center;}
	.category-title{text-align: center;}
	.category-title h1{font-size: 20px;}
	.block-layered-nav .block-content li{text-align: left;}
	.toolbar-bottom{margin-bottom: 20px;}
	.col1-layout .product-view .product-img-box,.col1-layout .product-view .product-shop{width: 100%;}
	.col1-layout .product-view .product-shop{margin-top: 30px;}
	/* About, Contact */
	.contacts-index-index .main-container .page-main-pal.container{padding: 0;}
	.contacts-index-index .page-title-wrapper{margin-bottom: 75px;}
	.contacts-index-index .page-title{max-width: 750px;padding: 0 15px;}
	.contacts-index-index .page-title h1{font-size: 30px;}
	.store-title .title-store, .contact-content .page-subheading{font-size: 25px;}
	.block.block-blog .block-content.no-display{display: block;}
	.blog-toolbar.blog-toolbar-bottom .toolbar .pager .pages{display: inline-block;padding-top: 10px;}
	.sidebar .block .block-title:before{content: "\f0da";font-size: 20px;font-family: FontAwesome;padding-right: 5px;}
	.sidebar .block .block-title.active:before{content: "\f0d7";}
	.block-subscribe .block-content{padding: 65px 20px 80px;}
	.block-subscribe .input-box{display: block;}
	.block-subscribe input.input-text{width: 100%;float: none;margin: 0 0 10px;text-align: center;padding: 0 15px;}
	.block-subscribe .actions{float: none;margin: 0 auto;position: static;text-align: center;}
	.block-logo{margin-top: 25px;}
	.block-logo img{margin: 0 auto 25px;}
	.footer-container .block-content-statick li a,.footer-container .block-title.heading{text-align: center;}
	.footer address, .copyright span{text-align: center;display: block;}
	.footer-extras {float: none;margin-top: 18px;text-align: center;}
	.icon-share{margin-top: 0;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-top{text-align: center;}
	.main-header.top-mobile{width: 100%;padding: 10px 0 0;}
	.main-header .support span{line-height: normal;}
	.play .caption1{font-size: 40px;}
	.play .caption2{font-size: 50px;letter-spacing: -3px;}
	.play .caption3{font-size: 20px;line-height: 20px;}
	.magicslider .text-slide .btn-shop{font-size: 20px;line-height: 25px;}
    .magicslider .bx-wrapper img{width: 100%;}

	/* hidden on mobile */
	.menu-mobile-none,.link-view,.header-bottom,.item .add-to-links li.link-view,.products-list .item .product-hover .link-view,.products-list .item:hover .product-hover .link-view{display: none;}
	/* Policy / service  banner*/
	.static_sections_top .container{max-width: 750px;}
	/* About, Contact, Locations */
	.contacts-index-index .breadcrumbs, .cms-page-view .breadcrumbs{min-height: 190px;}
	.our-works .col-left, .crazy-team .col-left{width: 8.33333%;float: left;}
	.our-works .col-right, .crazy-team .col-right{width: 66.6667%;float: left;}
	.locations .single-store,.locations .column_right{width: 50%;}
	.company-worker .item .img{width: 130px;height: 130px;line-height: 130px;}
	.company-worker .item .hr span.first{padding-top: 35px;font-size: 17px;}
	.company-worker .item .hr span.last{font-size: 30px;line-height: 30px;}
	.store-contact.locations .store-item{text-align: left;}
	.page-team-content .sub-text{width: 700px;}
	.blog-index-list .col-left,.blog-post-view .col-left{float: left;width: 25%;}
	.blog-index-list .col-main,.blog-post-view .col-main{float: right;width: 75%;}

	/* Product Item*/
	.block-custom-product .magictabs .item .title, .block-custom-product .magictabs .item.active .title{line-height: normal;font-size: 15px;}
	.block-custom-product .per-product .images-container{width: 50px;}
	.block-custom-product .per-product .products-textlink{padding-left: 60px;}
	/* Footer newletter / socials */
	#popup-newsletter{background-size: cover;background-repeat: no-repeat;width: 680px !important;height: auto !important;}
	#popup-newsletter .block-content{padding: 80px 0;}
	#popup-newsletter .newsletter-new{display: block;padding: 25px 25px 0;}
	#popup-newsletter .block-content .block-title strong span{letter-spacing: 0;}
	#popup-newsletter .newsletter-new .input-box{width: 65%;margin: 0 20px 0 0;}
	#popup-newsletter .block-content .actions{width: 30%;}
	ul.nav-accordion ul{padding: 0 0 0 10px;}
	ul.nav-accordion li ul li.parent > a {padding-left: 0;}
	ul.nav-accordion ul ul li a{margin-left: 0;}
	ul.nav-accordion li a span {font-size: 14px;}
	.block-viewed .block-content, .block-reorder .block-content{padding:0 10px;}
	#narrow-by-list dd .swatch-link{margin-right: 0;}
	/* Product Page */
	.catalog-product-view .page-main-pal.container{padding-right: 0;padding-left: 0;}
	.product-view .product-primary-column, .block-related, .box-up-sell{width: 750px;}
	.product-view .product-shop .no-display{display:none !important;}
	.product-view .toggle-tabs .item span{font-size: 20px;}
	/* Product checkout cart */
	.cart .totals{padding: 15px 5px;}
	.alo-social-networks a{margin: 0 8px 0 0;}
	.collapsible{clear: both;}
	.block-footer-bottom .footer .block-title{font-size:15px;}
	.footer address,.paypal{float: none;padding:10px 0;display: inline-block;}
	.clearboth{clear: both;}
	.cart-table td {padding: 15px 13px;}
	.container { padding-left: 15px;padding-right: 15px;}
}

/* Iphone 5 landscape */
@media(max-width:767px) {
	.container { padding-left: 15px;padding-right: 15px;}
	.header-top{text-align: center;}
	
	/* Slide main */
	.play .caption1{font-size: 30px;margin: 0 0 10px 0;letter-spacing: 0;}
	.play .caption2{font-size: 45px;letter-spacing: 0;}
	.play .caption3{font-size: 20px;line-height: 20px;letter-spacing: 0;}
	.magicslider .text-slide .btn-shop{font-size: 20px;line-height: 25px;margin: 20px 0 0;}
	.magicslider .bx-wrapper img{width: 100%;}
	
	/* banner, newsletter */
	.banner-boder-zoom{max-width: 465px;margin: 0 auto;}
	.block-banner-newsletter .banner-boder-zoom{max-width: 100%;}
	.banner-row-2 .banner-col-6 .banner-boder-zoom,.block-banner-newsletter .banner-col-6 .banner-boder-zoom,.margin-bottom{margin-bottom: 0px;}
	.sidebar-additional-custom .banner-boder-zoom,.custom-detail-right .banner-boder-zoom{max-width: 270px;margin: 0;}
	#popup-newsletter{width: 100% !important;height: auto !important;}
	#popup-newsletter .block-content{padding: 80px 50px;}
	#popup-newsletter .newsletter-new{display: block;padding: 25px 0px 0;}
	#popup-newsletter .block-content .block-title strong span{letter-spacing: 0;}
	#popup-newsletter .newsletter-new .input-box{width: 100%;margin: 0;float: none;}
	#popup-newsletter .block-content .actions{float: none;margin: 10px auto 0;}
	#fancybox-wrap ,#fancybox-overlay{display: none !important;}
	.promo-panel-text1{font-size: 15px;}
	/* hidden on mobile */
	.item .add-to-links li.link-view,.link-view,.products-list .item .product-hover .link-view,.products-list .item:hover .product-hover .link-view,.custom-menu .magicmenu,.menu-mobile-none,.header-setting.header-setting-icon,.anav-container{display: none;}
	/* About, Contact */
	.contacts-index-index .breadcrumbs, .cms-page-view .breadcrumbs{min-height: 180px;}
	.contact_info .info_main{margin-bottom: 10px;}
	.contact_info .info_main.border_right{border-left: 2px solid #eee;}
	.store-contact .store2 .store-item{border: 0;}
	.store_info li:last-child {padding-bottom: 30px;}
	.our-works .col-left, .crazy-team .col-left{width: 16.6667%;float: left;padding-left: 15px;padding-right: 15px;}
	.our-works .col-right, .crazy-team .col-right{width: 83.3333%;float: left;}
	.page-team-content > .container {padding-left: 30px;}
	.locations .single-store,.locations .column_right{width: 50%;}
	.our-story .block-content .sub-text{padding: 0;font-size: 17px;}
    .our-story .block-content .sub-text.sub-text-1{font-size: 20px;}
    .our-story .block-content .sub-text.sub-text-3{font-size: 25px;padding-left: 15px;}
    .team-item{text-align: center;}
    .team-item .images-team{max-width: 370px;}
	.page-team-content .sub-text,.company-worker .item{width: 100%;float: none;}
	.company-worker .item{padding-bottom: 20px;}
	.company-worker .item .img{ height: 290px;line-height: 290px;margin: 0 auto;width: 290px;}

	.block-custom-product .custom-product {margin-top: 15px;}

	.box .featured-images-wrap, .box .featured-text-wrap{float: none;margin:0 auto;}
	.box{padding-bottom: 0;}
	.box-top img{width: 100%;}
	#magicshop_quickview_handler{display:none !important;}
	.block-title h2 span.title-top {font-size: 30px;padding: 0 0 20px;}
	.cart-table .product-image img{width: auto;}
	.sidebar .bx-wrapper .item img{width: auto;}
	.product-secondary .action{float: none;display: block;}
	.products-list .item .button.btn-cart{min-width: 100%;}
	.product-secondary .add-to-links{margin: 10px 0 0;}
	.magictabs .item .title, .magictabs .citem a span{font-size: 20px;}
	/* Product Page */
	.catalog-product-view .page-main-pal.container{padding-right: 0;padding-left: 0;}
	.product-view .product-primary-column, .block-related, .box-up-sell{width: 100%;padding-left: 15px;padding-right: 15px;}
	.product-view .product-primary-column{padding-right: 35px;padding-left: 35px;}
	.product-view .product-shop .no-display{display:none !important;}
	.block-related .block-title h3 span, .product-view .box-up-sell .block-title h3 span, .cart .crosssell .block-title h3 span,.block-subscribe .block-title strong{font-size: 25px;}
	.product-view .toggle-tabs .item span{font-size: 19px;}
	.product-wapper-tab .product-collateral .box-collateral.box-description p{font-size: 15px;}
	.product-view .box-tags .form-add input.input-text{margin-bottom:10px;}
	.product-collateral .box-reviews .data-table thead th{text-transform: capitalize;}
	.data-table thead th,.data-table tbody td{padding:10px 2px;border-top: 0;border-right: 0;}
	.nobr{font-size:12px;}
	.checkout-cart-index .data-table .product-image img{display: inline;}
	.cart-table .btn-continue,.cart-table .btn-update, .cart-table .btn-empty{float:none;margin-left: 0;}
	.cart-table button.button{margin-top:3px;margin-bottom:3px;}
    
    .dashboard .welcome-msg {margin: 0 0 1.5em;}
	.cart-table td{padding:10px;}
	.data-table thead{background-color: transparent;}
	table#wishlist-table,table#shopping-cart-table, table#checkout-review-table, table#my-orders-table {border: 0 none;outline: medium none;}
	table#checkout-review-table thead,table#checkout-review-table tbody, 
	table#my-orders-table thead, table#my-orders-table tbody{width: 50%;float: left;}
	table#wishlist-table td, 
	table#wishlist-table th table#product-review-table td, 
	table#shopping-cart-table td, 
	table#shopping-cart-table th, 
	table#checkout-review-table td, 
	table#checkout-review-table th, 
	table#my-orders-table th, 
	table#my-orders-table td {display: block;float: none;text-align: left !important;float: left;width: 100%;padding: 10px 2px;}
	table#wishlist-table tbody tr{margin-bottom: 30px;display: block;border-right: 1px solid #ddd;border-top: 1px solid #ddd;}
	table#wishlist-table td{width: auto;float: none;padding: 10px;}
	.data-table th, .data-table td.last { border-bottom: 1px solid #DDDDDD !important;}
	.product-view .box-reviews .form-add .data-table td{border-bottom: 1px solid #DDDDDD !important;}
	.data-table tfoot {border-bottom: none;}
	.data-table thead.hidden-phone{display:none;}
	.data-table .data-cell-label {display: inline-block;margin-right: 10px;max-width: 140px;min-width: 100px;width: 30%;}
	.data-table .a-center .btn-edit.btn-edit2{padding: 0;vertical-align: middle;}
	.cart .data-table .btn-remove2{text-align: center;}
	.data-table .custom-qty{display: inline-block;}
	.data-table .custom-qty .alo_qty{text-align: center;}

	.my-wishlist #wishlist-table.data-table thead{display:none;}
	.my-wishlist .data-table{border-top: 1px solid #dddddd;}
	.my-wishlist .data-table tbody th, .my-wishlist .data-table tbody td{ border-left: 1px solid #dddddd;}
	.my-wishlist .cart-cell .add-to-cart-alt input.qty{float:none;border: 1px solid #eaeaea;}

	.cart .page-title{padding:10px 0;}
	.cart .crosssell{margin:20px 0 0 0;}
	.page {overflow: hidden;}
	.main .col-main {padding: 0 15px;}
	.product-image-gallery .gallery-image.visible {width: 100%;}
	.cart .totals {margin: 0 0 15px 0;}
	.checkout-onepage-index .main-container {padding-top: 0;}
	.customer-account-index .main-container { margin-top: 0;}
	.block-subscribe .block-title,.block-subscribe .input-box{width: 100%;}
	.block-footer-copyright .main{text-align: center;}
	.footer address,.introduce-paypal{float: none;display: inline-block;width: 100%;}
	.introduce-paypal img{margin: 0 auto;}

	.main-link{padding-top: 40px;}
	.mobile-collapsible{clear: both;position: relative;}
	.footer-container .block-title.heading{margin: 0;}
	.megashop .toggle-tab.mobile,.mobile-collapsible .toggle-tab.mobile{cursor: pointer;display: block !important;padding: 14px 20px 18px;position: absolute;right: 0px;z-index: 0;}
    .megashop .toggle-tab.mobile{color: #333;padding: 0;}
    .megashop .toggle-content,.mobile-collapsible .toggle-content{ display: none;}
	.toggle-content.visible{ display: block;}
	.mobile-collapsible .toggle-content.visible{padding-bottom: 30px;}
	.mobile-collapsible .toggle-tab.mobile,.block-layered-nav .toggle-tab.mobile{padding: 0px;top: 0;width: auto;font-size: 20px;line-height: 20px;cursor: pointer;font-weight: bold;}
	.mobile-collapsible .toggle-tab.mobile{width: 19px;text-align: center;}
	.block-layered-nav .toggle-tab:before,.megashop .toggle-tab:before,.mobile-collapsible .toggle-tab:before{content: "\f107";font-family: FontAwesome;}
	.megashop .toggle-visible .toggle-tab:before,.collapsible.toggle-visible .toggle-tab:before,.block-layered-nav .toggle-visible .toggle-tab:before{ content: "\f106";font-family: FontAwesome;}
	.block-layered-nav .toggle-tab.mobile{position: absolute;right: 0;display: block !important;line-height: 28px; }
	.narrow-by{position: relative;padding: 5px 0;outline:medium none !important;margin: 0;}
	.mobile-collapsible .toggle-tab.mobile{color: #aaa;}
	.footer-container .block-content-statick li a, .footer-container .block-title.heading{text-align: left;}
}

/* 768px <= width < 960px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#fancybox-wrap ,#fancybox-overlay{display: none !important;}
}

/* 480px <= width < 768px */

@media only screen and (max-width: 639px) {
	.col-mobile-plus-12{width:100%}
	.col-mobile-plus-6{width:50%}
	.col-mobile-plus-4{width:30.3333333333%}
	.col-mobile-plus-3{width:25%}
	.col-mobile-plus-2{width:16.6666666666%}
	.col-mobile-plus-1{width:8.33333333333%}
	.col2-set .col-1 { width: 100%;margin-bottom: 20px;}
	.col2-set .col-2 {float: right;width: 100%;}
	.account-login .content { min-height: 100px;}
	.store-item .store_info{width: 100%;}
    .single-store,.column_right{width: 100%;}
    .header .form-search{width: 100%;}
	.tool-topsearch .btn-close{padding: 50px 0 0;}
	.tool-account .toggle-content,.mini-maincart .mini-contentCart{width: 100%;padding: 38px 20px 48px;}

	.magicslider .text-slide{right: 8%;}
	.play .caption1{font-size: 25px;}
	.play .caption2{font-size: 35px;}

	.breadcrumbs .title-page {font-size: 25px;}
	#narrow-by-list dd .configurable-swatch-list li, #narrow-by-list dd ol.configurable-swatch-list li{width: 100%;}

	/* Product Item*/
	.item .actions-cart .button.btn-cart, .item .actions-cart .availability{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 0 10px;}
	.item .actions-cart .button.btn-cart span{display: inline;}
	.product-shop-content{padding-left: 0;}
	.product-wapper-tab{margin: 50px 0;}
	.product-view .toggle-tabs .item{display: block;}
	.product-wapper-tab .product-collateral .box-collateral.box-description p{font-size: 14px;}
	.custom-detail-right .display-resolutions,.custom-detail-right .sidebar{width: 100%;float: none;}
	.product-view .product-qty{margin-right: 10px;}
	.product-view .add-to-cart button.button{min-width: 200px;}
    /* Privacy Policy */
	.cms-page-view .data-table tbody th, .cms-page-view .data-table tbody td{display: block;}
	.cms-page-view .data-table thead{display: none;}
	.search-form .form-list input.input-text,.search-form .guest-select{width: 100% !important;}
	.locations .single-store,.locations .column_right{width: 100%;}
	.locations .column_right{padding: 0 0 30px;}
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
	.products-list li.item .product-shop .f-fix{padding-right: 0;}
	.product-secondary{margin-top: 10px;}
	.products-list .item .right-block,.products-list .item .left-block{float: none;}
}

/* width < 320px */
@media only screen and (max-width: 479px) {
	.col-mobile-12,.products-list li.item .images-container,.products-list li.item .product-shop{width:100%}
	.col-mobile-6{width:50%}
	.col-mobile-4{width:30.3333333333%}
	.col-mobile-3{width:25%}
	.col-mobile-2{width:16.6666666666%}
	.col-mobile-1{width:8.33333333333%}
	.contacts-index-index .contact-content .buttons-set button.button {min-width: 100%;}
	
	.top-link-product{display: none;}
	.tool-topsearch .search-title{font-size: 30px;margin-bottom: 20px;}
	.magicslider .text-slide .btn-shop{font-size: 18px;margin-top: 10px;}
	.play .caption3{font-size: 14px;display: none !important;}
    .magicslider .bx-wrapper .bx-pager{bottom: 10px;}
    .alo-magicslider .magicslider .bx-wrapper .bx-controls-direction a.bx-prev{left: 0;}
    .alo-magicslider .magicslider .bx-wrapper .bx-controls-direction a.bx-next{right: 0;}
    .policy .policy-wrap{padding: 50px 0;}
    .banner-row-2{margin-bottom: 0;}
    .banner-boder-zoom .position h3{font-size: 20px;}
    .block-title-tabs p{font-size: 18px;}
    .block-custom-product {padding: 40px 0 60px;}
    .magiccategory .box-product .product-items .sub-item:nth-child(1) .items, .magiccategory .box-product .product-items .sub-item:nth-child(3) .items{width: 100%;}
	.magiccategory .box-product .product-items .sub-item:nth-child(3) .items:first-child{margin-bottom: 46px;}
	.magiccategory .box-product .product-items .sub-item:nth-child(1),
	.magiccategory .box-product .product-items .sub-item:nth-child(3) {padding: 0 10px;}
    #popup-newsletter .block-content{padding: 20px;}
    #popup-newsletter .block-content .block-title strong span{font-size: 25px;}
    .promo-panel-text{font-size: 17px;}
    .miniCartWrap .mini-maincart{margin-left: 10px;z-index: inherit;}
	.header .form-search .dd-container{width: 120px !important;}
	.header .form-search .dd-container .dd-select{width: 100% !important;}
	.header .form-search .dd-options{right: 0;}
	.dd-container .dd-selected .dd-selected-text{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;display: block;}
	.header .form-search .form-imput-serach {width: calc(100% - 160px);}
	.header .form-search button.button span span .seach-text{display: none;}
	.header .form-search button.button .icons{display: block;}

    .custom-product-main-wrap .content-products .product-image img{transform-style: inherit;}
	.block-subscribe .block-title strong{font-size: 25px;}
	.panel-text{font-size: 16px;}
	.detail-about .left-detail-about .box{width: 100%;}
	.block-title h2 span {font-size: 20px;}
	.cartSummary .icon-cart {font-size: 17px;}
	.nbs-flexisel-item img {display: inline-block;}
	.products-list li.item .images-container,.products-list li.item .product-shop{width: 100%;padding-left: 42px;padding-right: 42px;}
	.products-list li.item .product-shop{padding-top: 30px;}
	.product-view .product-qty{margin: 0 0 30px 0;}
	.product-view .add-to-cart button.button{min-width: 100%;}
	.product-view .toggle-tabs .item, .product-view .toggle-tabs .item span {display: block; width: 100%}
	.cart-table td{padding: 10px;}
	.products-list li.item .product-shop .f-fix{padding:10px 0 0; }
	.sorter .sort-by, .sorter .limiter{margin: 10px 0;}
	.category-products .item img, .product-image img{width: 100%;}
	.block-title-tabs h3, .alo-brand .title span{font-size: 20px;}
	.cat-view-all{font-size: 16px;top: -56px;}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
	.toolbar-bottom .toolbar .sorter,.toolbar .sorter{text-align: center;}
	.toolbar .pager{float: none;padding-top: 5px;}
}
/* Iphone 4 landscape */
@media (max-width: 360px) {
	.header .logo {max-width: 100px;}
	.play .caption2 {font-size: 30px;}
	.magicslider .text-slide .btn-shop{margin-top: 0;}
	.block-title-tabs h3, .alo-brand .title span{font-size: 25px;}
	.category-products .products-grid > li {width: 100%;}
	.play .caption4{display: none;}
	.products-list li.item .images-container,.products-list li.item .product-shop{padding-left: 0;padding-right: 0;}
	.crazy-team-slide .item{width: 100%;}
	.my-wishlist .buttons-set button.button{margin-bottom: 5px;}
	.product-view .add-to-cart{margin: 0;}
	.breadcrumbs .title-page{font-size: 20px;line-height: 1;}
	.magiccategory .box-product .product-items .sub-item:nth-child(1),.magiccategory .box-product .product-items .sub-item:nth-child(2),
	.magiccategory .box-product .product-items .sub-item:nth-child(3) {padding: 0px;}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.checkout-cart-index .col-main .page-title h1, .checkout-cart-index .col-main .page-title h2 {float: none;text-align: center;}
	.cart .title-buttons .checkout-types,.cart .title-buttons .checkout-types li{float: none;text-align:center;}
	.cart .title-buttons .checkout-types{margin-top:10px;}
	.col2-set,.col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
	.account-login .col2-set,.account-login .col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
	.multiple-checkout .col2-set .col-1,.multiple-checkout .col2-set .col-2 {float: none;width: 100%;margin-bottom: 10px;}
	.my-wishlist .buttons-set {text-align: center; padding: 20px 0 0;}
	.my-wishlist thead.hidden-phone{display:none;}
	a.btn-edit, a.btn-remove{margin:0 auto;float:none;}
	.mini-contentCart .product-details a.btn-remove,.mini-contentCart .product-details a.btn-edit{float: left;margin: 0 5px 0 0;}
	#toPopup{left:18%;top: 10%;}
	.box-support ul li{margin-top:10px;}
	.wrapper{overflow:hidden;}
	.product-view .product-img-box .more-views .nbs-flexisel-item img{display:inline;}
} 

/* IPHONE 4 + 5 Portrait */
@media only screen and (min-width: 240px) and (max-width: 320px) {
	.policy .policy-box .box-content .service-content .info-title h3{font-size: 10px;}
	.policy .policy-box .box-content.before:before{height: 38px;}
    .wrapper{overflow:hidden;}
	#toPopup{left:3%;}
	.product-shop .ratings .rating-links{ margin: 10px 0px 10px;}
}
@media only screen and (min-width: 240px) and (max-width: 319px) {
	.sorter .view-mode,.sorter .sort-by,.sorter .limiter,.sorter .pull-right{width: 100%;text-align: left;}
	.toolbar-bottom .toolbar .pager{float: left;}
}







